{
  "name": "{{ project_name }}",
  "dockerComposeFile": ["docker-compose.yml"],
  "service": "{{ project_name }}",
  "workspaceFolder": "/workspace",
  "postCreateCommand": "./.devcontainer/post-create.sh",
  "customizations": {
    "vscode": {
      "extensions": {{ vscode_extensions | to_nice_json }}
    }
  }
}
